Source: ros-melodic-ros-factorial-isprime-release
Section: misc
Priority: optional
Maintainer: Yi Ju <Yi.Ju@infineon.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roscpp, ros-melodic-rostest
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-ros-factorial-isprime-release
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-roscpp, ros-melodic-rostest
Description: The ros_factorial_isprime package-release
